---
import BuildAiWrapper from './BuildAiWrapper.astro';
import { Image } from 'astro:assets';
import dataCuration from "../../img/data-curation.png";
import rlhfImg from "../../img/rlhfImg.png";

---

<BuildAiWrapper>
  <div slot="rlhfImage">
    <Image src={rlhfImg} alt="rlhf" slot="rlhfImage" />
  </div>
  <div slot="activeLabel">
    <p>3D</p>
  </div>
  <div slot="dataCuration">
    <Image src={dataCuration} alt="data curation" />
  </div>
</BuildAiWrapper>
