---
import heroBg from "../img/hero-bg.webp";
import Image from "astro/components/Image.astro";
import TextRotator from "./TextRotator/TextRotator";
import Button from "./Button/Button";
---
<section class="container py-18 lg:py-20 min-h-[70vh] grid text-center items-center justify-center relative gap-3">
    <h1 class="relative text-5xl font-light xl:leading-none leading-tight mx-auto sm:leading-[1.1] sm:text-7xl xl:text-[89px] tracking-[-0.89px] font-aeonik text-center">
        The future of your <br> industry <span class="custom-text">starts here.</span> 
    </h1>
    <div class="flex items-center justify-center w-full gap-5">
        <Button text="Book a Demo" />
        <p>Build AI →</p>
    </div>
    <div class="absolute -z-10 w-full top-7">
        <Image class="mx-auto" src={heroBg} alt="hero Bg" />
    </div>
</section>
