.custom-text {
  display: inline-block;
  transition: transform 0.5s;
  background: linear-gradient(50deg, #714dff, #9c83ff 31.28%, #e151ff 77.97%, #fff759 95.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flip {
  animation: flipAnimation 0.5s forwards;
}

@keyframes flipAnimation {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  50% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(-360deg);
    opacity: 1;
  }
}
