---
import SectionHeader from '../SectionHeader/SectionHeader';
import CaseStudyCard from './CaseStudyCard.astro';
import { CaseStudyData } from './CaseStudyData';
---

<div class="container">
    <div class="py-16 lg:py-20 bg-transparent pb-0 lg:pb-0">
      <SectionHeader
        info="LEARN HOW WE SERVE ENTERPRISES LARGE AND SMALL"
        title="Case Studies & Resources"
        description="We've worked with the world's leading AI teams for years, and delivered more high-quality data than anybody else."
      />
    </div>
    <div class="w-full mx-auto container flex items-center gap-4 overflow-x-scroll scrollbar-hide my-14">
      <div class="flex space-x-4">
        {CaseStudyData.map((data, index) => (
          <CaseStudyCard  info={data.info} title={data.title} img={data.image} />
        ))}
      </div>
    </div>
</div>